#author denisolvr
#email denis.olvr@gmail.com

#Block one or more IP address. Usual to badbots
<Limit GET POST>
order allow,deny
deny from #IP_ADDRESS_1
deny from #IP_ADDRESS_2
allow from all
</Limit>

#Disable directory browsing
Options All -Indexes

#Redirect all traffic to maintenance.html file
#RewriteEngine on
#RewriteCond %{REQUEST_URI} !/maintenance.html$
#RewriteCond %{REMOTE_ADDR} !^123\.123\.123\.123
#RewriteRule $ /maintenance.html [R=302,L]
#End redirect
